header {
    background-color: black;
    nav {
        .navbar-brand {
            img {
                border: 1px solid white;
                border-radius: 100%;
            }
        }

        .nav-link {
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .btn {
            border-radius: 20px;
            background-color: gray;
            border: 1px solid gray;
        }
    }
}